.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card-title.mat-card-title {
  font-size: 15px;
  margin-bottom: 5px;
}

mat-card-subtitle.mat-card-subtitle {
  font-size: 12px;
  margin-bottom: 10px;
}

mat-card-content.mat-card-content {
  font-size: 12px;
  margin: 0 0 5px;
}

mat-card-actions.mat-card-actions {
  padding: 0;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 10px;
}

@media only screen and (max-width: 1500px) {
  .container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 10px;
  }
}
