<div fxLayout="column" class="animated fadeIn">
  <mat-toolbar>
    <button type="button" mat-icon-button (click)="goToHome()">
      <mat-icon>home</mat-icon>
    </button>

    <span fxFlex>subastapp</span>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center" class="container">
    <div fxFlex="60">
      <div fxLayout="row" fxLayoutGap="10px">
        <!-- Profile info -->
        <div fxLayout="column" fxFlex="30">
          <div class="container-profile">
            <img width="60%" [src]="profileCurrent.img" alt="´photo perfil" />
          </div>

          <br>
          <!-- Participations -->
          <div >
            <mat-chip-list>
              <mat-chip
                *ngFor="let item of profileCurrent.participations"
              >
                {{ item.namePost }} - {{ item.value }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <mat-divider vertical="true"></mat-divider>

        <!-- Profile data -->
        <div fxLayout="column" fxFlex="70" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-card-title>{{ profileCurrent.name }}</mat-card-title>
            <mat-card-subtitle>{{ profileCurrent.from }}</mat-card-subtitle>
          </div>
          <mat-card-subtitle>{{ profileCurrent.username }}</mat-card-subtitle>

          <br />

          <!-- Calificación -->
          <div fxLayout="column">
            <mat-card-subtitle>Calificación</mat-card-subtitle>
            <div fxLayout="row">
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star_half</mat-icon>
              <mat-icon color="primary">star_border</mat-icon>
            </div>
          </div>

          <!-- Tabs -->
          <div>
            <mat-tab-group>
              <mat-tab label="Publicaciones">
                <div class="container">
                  <mat-chip-list>
                    <mat-chip
                      class="example-box"
                      *ngFor="let item of profileCurrent.posts"
                    >
                      {{ item.name }}
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-tab>

              <mat-tab label="Guardados">
                <div class="container">
                  <mat-chip-list>
                    <mat-chip
                      class="example-box"
                      *ngFor="let item of profileCurrent.saved"
                    >
                      {{ item.name }} - {{ item.time | date: "yyyy-MM-dd" }}
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-tab>

              <mat-tab label="Más"> Content 3 </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
